body {
    background-color: #d3e0ea;
    font-family: Calibri;
}

hr {
    border-style: dotted none none none;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}

h1,
h2,
h3,
h4,
h6,
a {
    color: #276678;
}